.adress-cell, .adress-text {
    margin-right: auto;
    white-space: normal !important;
}

.address-cell{
    height: var(--height-for-addresses) !important;
}

.address-icon{
    color: var(--tgui--destructive_text_color)
}