.tgui-8ca550c2fc85eff5 {
    background: unset !important;
    padding: 0 0 !important;
}

.input{
    height: var(--height-of-clickable-el) !important;
    width: 100% !important;
    border-radius: 20px !important;
    max-width: unset !important;
    background-color: var(--tgui--secondary_fill) !important;
    min-height: 0 !important;
}


.close-icon {
    width: 24px !important;
    height: 24px !important;
    padding: 0 0 !important;
}

.icon {
    width: 24px ! important;
    height: 24px ! important;
    display: block;
}

.InputWrapper{
    width: 100%;
    background-color: var(--tgui--bg_color);
}