.upper_level_wrapper{
    display: flex;
    width: 100%;
    gap: 5px;
    flex-direction: row; /* По умолчанию */
    height: var(--modal-options-height);
    align-items: center;
}


.AddAddressPageContent{
    background-color: var(--tgui--bg_color);
}



