.upper-level-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
    gap: var(--gap-betwen-upper-level-el-in-main-page);
  }

  

.profile-avatar, .search-button {
    width: var(--width-of-small-mainpage-buttons) !important;
    height: var(--height-of-clickable-el) !important;
    padding: 0 0 !important;
    border-radius: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
  
}


.profile-avatar {
    margin-right: auto !important;
}


.search-button {
    margin-left: auto !important;
}



.adress-button {
    height: var(--height-of-clickable-el) !important;
    flex-grow: 1;
    text-align: center;
    padding: 0 0 !important;
    margin : 0 0 !important;
}



.search, .upper-level {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0; /* По желанию: отступы по краям */
  
}


.upper-level {
    gap: 10px;
  }


.upper-level-hidden, .search-hidden {
    display: none;
}