.image-container {
    position: block;
    width: 100%; /* Ширина контейнера 100% от родительского */
    padding-bottom: 90%; /* Соотношение сторон 4:3 */
    overflow: hidden; /* Скроем всё, что не вписывается в контейнер */
}

.restaurant-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Полностью заполнит контейнер, сохраняя пропорции */
}

.card-chip {
    position: absolute;
    z-index: 2; /* Позиционирование поверх изображения */
}
