.category-buttons-wrapper {
  overflow-x: scroll; /* Включение горизонтальной прокрутки */
  white-space: nowrap; /* Запрет переноса строк */
  scrollbar-width: none; /* Скрыть скроллбар в Firefox */
  -ms-overflow-style: none; /* Скрыть скроллбар в Internet Explorer и Edge */
  position: relative; /* Для удобного управления элементами */
}

/* Скрыть скроллбар для браузеров WebKit (Chrome, Safari) */
.category-buttons-wrapper::-webkit-scrollbar {
  display: none;
}

.category-buttons {
  display: inline-flex;
  gap: 7px; /* Расстояние между кнопками */
}



