.category-buttons-wrapper {
  overflow-x: auto; /* Включение горизонтальной прокрутки */
  white-space: nowrap; /* Запрет переноса строк */
  padding: 5px 0;
  scrollbar-width: thin; /* Включить тонкий скроллбар в Firefox */
  position: relative; /* Для удобного управления элементами */
}

/* Настройка скроллбара для браузеров WebKit (Chrome, Safari) */
.category-buttons-wrapper::-webkit-scrollbar {
  height: 8px; /* Высота скроллбара */
  background-color: transparent; /* Скрываем фон по умолчанию */
}

/* Вид ползунка */
.category-buttons-wrapper::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
  visibility: hidden; /* Скрываем по умолчанию */
}

/* Показываем скроллбар при наведении */
.category-buttons-wrapper:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* Стиль дорожки скроллбара */
.category-buttons-wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.category-buttons {
  display: inline-flex;
  gap: 7px; /* Расстояние между кнопками */
}
