.category-buttons{
    margin-top: 0;
    margin-bottom: 0;
  }

.list {
    width: 100% !important;
    gap: var(--gap-betwen-upper-level-el-in-main-page);
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    padding: 0; 
}
  
  