.upper_level_wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto; 
    gap: 5px;
    height: var(--modal-options-height);
    align-items: center;
}


.NestedModalMainPage{
    background-color: var(--tgui--bg_color); 
    padding: var(--padding-for-pages);
}


.LocationButton {
    padding: 0px 0px !important;
}


