.RestaurantPage{
    min-height:100vh;
    padding: var(--padding-for-pages);
    background-color: var(--tgui--bg_color);
}


.photos {
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red; /* Красная обводка */
    padding: var(--padding-for-pages);
    padding-bottom: 20px; /* Отступ снизу */

}

.raiting-cell{
    height: var(--height-for-addresses) !important;
    display: flex !important; /* Включаем Flexbox */
    flex-direction: row !important; /* Элементы располагаются в строку */
    justify-content: flex-start !important; /* Выравнивание по горизонтали (по умолчанию) */
    align-items: center !important; /* Выравнивание по вертикали */
    padding-bottom: 20px !important; /* Отступ снизу */

}


.header{
    padding-bottom: 20px; /* Отступ снизу */
}