.RestaurantPage{
    min-height:100vh;
    padding: var(--padding-for-pages);
    background-color: var(--tgui--bg_color);
}


.photos {
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}