.RestaurantPage{
    min-height:100vh;
    padding: var(--padding-for-pages);
    background-color: var(--tgui--bg_color);
}


.photos {
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red; /* Красная обводка */
    padding: var(--padding-for-pages);
    padding-bottom: 20px; /* Отступ снизу */

}

.raiting{
    pointer-events: none !important;
}


.header{
    padding-bottom: 10px; /* Отступ снизу */
}

.subheadline{
    padding-bottom: 10px !important; /* Отступ снизу */

}