.location-button{
    width: var(--modal-options-height) !important;
    height: var(--modal-options-height) !important;
    padding: 0 0 !important;
    border-radius: 14px !important;
    margin-left: auto !important;

}

