.loading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center;     /* Центрирует по вертикали */
    height: 100vh;  /* Высота 100% от высоты окна браузера */       
  }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/* Добавляем стили для плавного перехода */
.page-content {
  animation: fadeIn 0.28s ease-in-out;
  }

.upper-level-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0; /* По желанию: отступы по краям */
  gap: 10px;
}

.profile-button {
    margin-right: auto; /* Зафиксирует кнопку "назад" слева */
}

.adress-button {
    flex-grow: 1;
    text-align: center;
}

.upper-level-wrapper {
  display: flex;
  align-items: center;
}

.search-button {
  margin-left: auto;
}

.scroll-to-top-button {
  position: fixed !important;
  bottom: 30px ;
  right: 30px ;
  z-index: 9999 ;
}



