.loading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center;     /* Центрирует по вертикали */
    height: 100vh;  /* Высота 100% от высоты окна браузера */       
  }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/* Добавляем стили для плавного перехода */
.page-content {
  animation: fadeIn 0.28s ease-in-out;
  }


.upper-level-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0; /* По желанию: отступы по краям */
  gap: 10px;

}


.profile-avatar, .search-button {
    width: 48px !important;
    height: 36px !important;
    padding: 0 0 !important;
    border-radius: 20px !important;
}

.profile-avatar {
    margin-right: auto !important;
}


.search-button {
    margin-left: auto !important;
}


.adress-button {
    height: 36px !important;
    flex-grow: 1;
    text-align: center;
    padding: 0 0 !important;
    margin : 0 0 !important;
}


.scroll-to-top-button {
  position: fixed !important;
  bottom: 30px ;
  right: 30px ;
  z-index: 9999 ;
}


.upper-level {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0; /* По желанию: отступы по краям */
  gap: 10px;
}

.upper-level-hidden {
  display: none;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0; /* По желанию: отступы по краям */
}

.search-hidden{
  display: none;
}

