@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/* Добавляем стили для плавного перехода */
.page-content {
  animation: fadeIn 0.28s ease-in-out;
}



.main-page-container {
  min-height: 100vh; /* Минимальная высота 100% экрана */
  background-color: var(--tgui--bg_color);
  padding: var(--padding-for-pages);
}


